<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}Jackson & Sophia's Trip Planner{% endblock %}</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <h1>Jackson & Sophia's Trip Planner</h1>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>Home</li>
              <li>About</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="contentContainer">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
