html, body {
  height: 100%; }

body {
  padding-top: 50px;
  /* body padding for fixed top nav */ }

h3 {
  color: #A30000; }

.mapHolder {
  background-color: #e6e6e6; }

.selectors {
  background-color: #FFFFFF; }
